Fevoli_Francesco-LDM_EV02_PRACT_EV/cartelera.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="cartelera">
            <oneOrMore>
                <element name="película">
                    <optional>
                        <attribute name="año">
                            <data type="integer"/>
                        </attribute>
                    </optional>
                    <attribute name="código">
                        <data type="NCName"/>
                    </attribute>
                    <attribute name="duración">
                        <data type="integer"/>
                    </attribute>
                    <element name="título">
                        <text/>
                    </element>
                    <optional>
                        <element name="título_original">
                            <text/>
                        </element>
                    </optional>
                    <element name="nacionalidad">
                        <text/>
                    </element>
                    <element name="género">
                        <data type="NCName"/>
                    </element>
                    <choice>
                        <element name="clasificación">
                            <attribute name="edad">
                                <data type="NCName"/>
                            </attribute>
                        </element>
                        <element name="sin_clasificar">
                            <empty/>
                        </element>
                    </choice>
                    <element name="sinopsis">
                        <text/>
                    </element>
                    <element name="director">
                        <text/>
                    </element>
                    <element name="reparto">
                        <oneOrMore>
                            <element name="actor">
                                <text/>
                            </element>
                        </oneOrMore>
                    </element>
                    <optional>
                        <element name="web">
                            <data type="anyURI"/>
                        </element>
                        <element name="cartel">
                            <text/>
                        </element>
                    </optional>
                </element>
            </oneOrMore>
        </element>
    </start>
</grammar>
