Fevoli_Francesco-LDM_EV02_PRACT_EV/cartelera.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cartelera" type="carteleraType"/>
  <xs:complexType name="clasificaciónType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="edad"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="repartoType">
    <xs:sequence>
      <xs:element name="actor" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Luke Wilson"/>
            <xs:enumeration value="Will Farrel"/>
            <xs:enumeration value="Vince Vaughn"/>
            <xs:enumeration value="Jesús Bonilla"/>
            <xs:enumeration value="Santiago Segura"/>
            <xs:enumeration value="Alfredo Landa"/>
            <xs:enumeration value="Concha Velasco"/>
            <xs:enumeration value="Antonio Resines"/>
            <xs:enumeration value="Gabino Diego, María Barranco"/>
            <xs:enumeration value="María Barranco"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="películaType">
    <xs:sequence>
      <xs:element name="título">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="AQUELLAS JUERGAS UNIVERSITARIAS"/>
            <xs:enumeration value="EL ORO DE MOSCÚ"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="título_original" minOccurs="0"/>
      <xs:element name="nacionalidad">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Estados Unidos"/>
            <xs:enumeration value="España"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="género"/>
      <xs:element type="clasificaciónType" name="clasificación" minOccurs="0"/>
      <xs:element type="xs:string" name="sin_clasificar" minOccurs="0"/>
      <xs:element name="sinopsis">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=" 
            Mitch, Frank y Beanie son tres amigos treintañeros cuyas vidas no son exactamente lo que esperaban. Mitch tiene una novia ninfómana que se mete en la cama con el primero que agarra. Frank se ha casado y su matrimonio nada 
            tiene que ver con las juergas salvajes que organizaban años atrás. Y Beanie es 
            un padre de familia que se muere por recuperar su alocada juventud. Pero las cosas cambian cuando Beanie sugiere que creen su propia fraternidad, en la nueva casa que Mitch tiene junto al campus de la universidad. Una ocasión para revivir tiempos gloriosos, hacer nuevos amigos y de volver a sus viejas, salvajes y desmadradas juergas de estudiantes. 
        "/>
            <xs:enumeration value=" 
            Por una extraña coincidencia del destino, alguien recibe una información extraconfidencial de un anciano en sus últimos segundos de vida: el secreto mejor guardado de la Historia. El receptor, un trabajador de hospital, se lo comunica secretamente a un supuesto amigo. Ambos inician una aventura rocambolesca y llena de misterio. Ante la inutilidad de sus intentos y muy a 
            su pesar, tienen que recurrir a otras personas que así mismo van cayendo en el pozo sin fondo que conlleva descifrar el enigma. 
        "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="director">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Todd Philips"/>
            <xs:enumeration value="Jesús Bonilla"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="repartoType" name="reparto"/>
      <xs:element type="xs:string" name="web" minOccurs="0"/>
      <xs:element type="xs:string" name="cartel" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="código" use="optional"/>
    <xs:attribute type="xs:string" name="duración" use="optional"/>
    <xs:attribute type="xs:string" name="año" use="optional"/>
  </xs:complexType>
  <xs:complexType name="carteleraType">
    <xs:sequence>
      <xs:element type="películaType" name="película" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>